body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;

}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#mensaje{
    color: green;
    font-weight: bold;
    margin-top: 10px;
    font-size: 11px;
}
h1{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#labe_ingresar_tarea {
    font-weight: bold;
    color: #333;
}